@font-face {
    font-family: '';
    src: url('aa54108794207d7ce5118632c27bca8c.eot');
    src: url('aa54108794207d7ce5118632c27bca8c.eot?#iefix') format('embedded-opentype'),
        url('aa54108794207d7ce5118632c27bca8c.woff2') format('woff2'),
        url('aa54108794207d7ce5118632c27bca8c.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

